.topMargin5 {
    margin-top: 5rem;
}

.topMargin10 {
    margin-top: 10rem;
}

.yMargin2 {
    margin: 2rem 0rem;
}

.centerBothAxis {
    display: flex;
    align-self: center;
    justify-self: center;
}